<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Hello <h3>{{fullName}}</h3></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="navbar-nav">
      <div *ngIf="auth.isLoggedIn(); else notLoggedIn" class="nav-item text-nowrap">
          <a style="background: red;
          color: #fff;
          border-radius: 4px;
          margin: 10px;" class="nav-link px-3 cursor-pointer" (click)="logout()">Sign out</a>
      </div>
      <div *ngIf="auth.isLoggedIn();" class="nav-item text-nowrap">
        <a style="background: green;
        color: #fff;
        border-radius: 4px;
        margin: 10px;" class="nav-link px-3 cursor-pointer" (click)="addContact()">Add Contact</a>
    </div>
  </div>
</header>

<ng-template #notLoggedIn>
    <div class="nav-item text-nowrap">
        <a style="background: red;
        color: #fff;
        border-radius: 4px;
        margin: 10px;" class="nav-link px-3 cursor-pointer" (click)="logout()">Sign in</a>
    </div>
  </ng-template>

<div class="container-fluid">
  <div class="row">
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                  <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                  <div class=""></div>
              </div>
          </div>
          <h2>Contact List</h2><br>
          <div class="table-responsive">
              <table class="table table-striped table-sm">
                  <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Category</th>
                        <th scope="col">Subcategory</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let contact of contacts; let i= index" (click)="goToContactDetails(contact.id)">
                        <td>{{i + 1}}</td>
                        <td>{{contact.firstName}}</td>
                        <td>{{contact.lastName}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.phone}}</td>
                        <td>{{contact.category.name}}</td>
                        <td>{{contact.subcategory != null ? contact.subcategory.name : ""}}</td>
                        <td>{{contact.dateOfBirth | date: 'dd-MM-yyyy'}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </main>
  </div>
</div>
